# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local
.vscode/
.idea/

# Android
*.apk
*.aab
*.ap_
*.dex
.gradle/
build/
local.properties

# iOS
*.ipa
*.xcworkspace
!default.xcworkspace
xcuserdata/
*.xcscmblueprint
*.xccheckout
Pods/

# Misc
*.log
*.swp
*.swo
*~
.cache/
